<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>MVC 패턴 연습</h1>
    <!-- 누르면 users 요청 => app.js에서 라우팅 처리 => 라우터에서 컨트롤러로 => 컨트롤러에서 모델로 -->
    <a href="/users"> 유저 리스트로 가기 </a>
    <br /><br />
    <a href="/items"> 아이템 리스트로 가기 </a>
    <br /><br />
    <a href="/career"> 배우 리스트로 가기 </a>
  </body>
</html>
